doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")

    title Parallel Project
    meta(name="description", content="A project to email weekly maths problems and challenges to students.")
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")

    meta(name="msapplication-tap-highlight" content="no")
    link(rel="manifest" href="/manifest.json")

    link(href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700" rel="stylesheet")
    link(href="/styles.css?v12", rel="stylesheet")

  body

    a#logo(href="/" title="Home")

    #body
      header
        a(href="/about") About
        a(href="/scores" v-if="user") My Scores
        a(href="/contact") Contact
        form#login(v-if="!user" v-bind:class="{active: login.showDropdown}" v-on:submit="login.submit")
          div.error(v-show="login.error") {{login.error}}
          input(placeholder="Email" required type="email" v-model="login.email" autocomplete="email")
          input(placeholder="Password" v-if="!login.reset" required type="password" v-model="login.password" autocomplete="current-password")
          button(type="submit") {{ login.reset ? 'Reset' : 'Login' }}
          p: a(v-on:click="login.toggleReset") {{ login.reset ? 'Back to login' : 'Reset password' }}
        a(v-if="!user" v-on:click="login.toggleDropdown") Login
        a(v-if="user" v-on:click="logout") Logout ({{user.first}})

      nav(v-if="user")
        a(href="/", style="background-image: url('/nav/0.png')", title="Home")
        for p, i in pages
          a(href="/" + p.url, v-if="isAfter('" + p.available + "')", style="background-image: url('/nav/" + (i + 1) + ".png')", title=p.title)
            .tooltip(v-if="!isAfter('" + p.deadline + "')") You've got {{ timeUntil('#{p.deadline}') }} to submit your solutions.
          div(v-if="!isAfter('" + p.available + "')" style="background-image: url('/nav/" + (i + 1) + ".png')")
            .tooltip This parallelogram will open in {{ timeUntil('#{p.available}') }}.

      .container(v-bind:class="status")
        if challenge
          div(class="status" v-if="status == 'locked'") This parallelogram is locked and will open in {{countdown}}.
          div(class="status" v-if="status == 'open'") You have {{countdown}} left to submit your answers.
          div(class="status" v-if="status == 'submitted'") You've already submitted your answersand can no longer make changes.#[br]The solutions and your score will be shown in {{countdown}}.
          include score

        block content
        if content
          div!= content

        if challenge
          div(v-if="status == 'open' || status == 'past'")
            #feedback: include feedback
            p(style="font-weight: bold; text-align: center; margin-top: 2rem;") Only hit the submit button if you have finished the whole#[br]Parallelogram and checked your answers.
            button#submit(v-on:click="submit" data-challenge=challenge data-available=pages[challenge-1].available data-deadline=pages[challenge-1].deadline) Submit Answers
          p.completed(v-if="status == 'submitted'") Well done! your score and the correct answers will appear in {{countdown}}.
          include score

    footer
      a(href="http://goodthinkingsociety.org" target="_blank") Good Thinking Society
      | •
      a(href="/terms-and-conditions") Terms and Conditions
      | •
      a(href="/contact") Contact

    script(src="https://www.gstatic.com/firebasejs/4.1.1/firebase.js")
    script.
      firebase.initializeApp({
        apiKey: "AIzaSyCrQ_PdH-05lcNWETGvGfiwO3MBXk_WeVU",
        authDomain: "parallel-cf800.firebaseapp.com",
        databaseURL: "https://parallel-cf800.firebaseio.com",
        projectId: "parallel-cf800",
        storageBucket: "parallel-cf800.appspot.com",
        messagingSenderId: "610680271345"
      });

    //- script(defer src="https://unpkg.com/vue")
    script(defer src="https://unpkg.com/vue@2.3.4/dist/vue.min.js")
    script(defer src="/scripts.js?v14")

    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q || []).push(arguments)},i[r].l=1 * new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-37525836-7', 'auto');
      ga('send', 'pageview');
