extends _layout

block content
  h1 Teacher Dashboard
  p Welcome to Parallel! Your teacher code is "#[strong #{user.code}]". What to do next:
  ul
    li Ask students to create an account, entering your Teacher Code when prompted.
    li Students will also select their Year (7, 8, 9 or 10) when creating an account.
    li Your students will then be added to your dashboard, listed by school year.
    li Your students will emailed a link to the new Parallelogram each Thursday at 3pm. Please remind students about a new Parallelogram, in case they’re not receiving emails.
    li Students should complete the Parallelogram and hit submit by Sunday evening. If students miss the Sunday evening deadline, they can complete Parallelograms later, but this should not become a habit.
    li You’ll be able to see all of your students’ results below.
    li Click on header cell of any column below, to sort students. Hover over a student name and click X to remove them from your dashboard.
    li For more information about using Parallel, visit our #[a(href="/hints-tips") Hints and Tips] and #[a(href="/troubleshooting") Troubleshooting] pages.


  if dashboard.error
    .error.dashboard-error= dashboard.error
  else
    for l in levels
      if dashboard.students[l].length
        h2= levelNames[l]
        .dashboard-table(data-level=l)
          .dashboard-names
            table
              thead
                tr: th(v-on:click=`sortTable(0, '${l}')`) Name
              tbody
                for s, i in dashboard.students[l]
                  tr(data-index=i): td #{s.first} #{s.last}
                    .remove-student(v-on:click=`removeStudent('${s.uid}',${i},'${l}')`) ×
          .dashboard-data
            .dashboard-data-container(style=`width: ${dashboard.pages.length * 80}px`)
              table
                thead: tr
                  for p, i in dashboard.pages[l]
                    th(width=80 v-on:click=`sortTable(${i + 1}, '${l}')`) PG #{p.index}
                tbody
                  for s in dashboard.students[l]
                    tr
                      for p in dashboard.pages[l]
                        if s.answers[p.url]
                          td(width=80 data-value=(s.answers[p.url].score || 0) class=scoreClass(s.answers[p.url].score)) #{s.answers[p.url].score || 0}%
                        else
                          td(width=80 data-value="-1")

    a#submit(download href="/dashboard.csv") Download Dashboard
