extends _layout

block content
  h1 Teacher Dashboard
  p Welcome to Parallel! Your teacher code is "#[strong #{user.code}]". What to do next:
  ul
    li Ask your students to create an account, entering your Teacher Code when prompted.
    li Your students will then be automatically added to the dashboard below, listed by school year.
    li Your students will receive a link to the new Parallelogram each Thursday at 3pm.
    li They should complete the Parallelogram and hit submit by 7pm on Sunday.
    li You’ll be able to see all of your students’ results below.

  if dashboard.error
    .error.dashboard-error= dashboard.error
  else
    for l in levels
      if dashboard.students[l].length
        h2= levelNames[l]
        .dashboard-table(data-level=l)
          .dashboard-names
            .dashboard-label
            for s, i in dashboard.students[l]
              .dashboard-label
                | #{s.first} #{s.last}
                .remove-student(v-on:click=`removeStudent('${s.uid}',${i},'${l}')`) ×
          .dashboard-data
            .dashboard-data-container(style=`width: ${dashboard.pages.length * 80}px`)
              table
                thead: tr
                  for p in dashboard.pages[l]
                    th(width=80)= p.subtitle
                tbody
                  for s in dashboard.students[l]
                    tr
                      for p in dashboard.pages[l]
                        if s.answers[p.url]
                          td(width=80)(class=scoreClass(s.answers[p.url].score)) #{s.answers[p.url].score}%
                        else
                          td(width=80)
