extends _layout

block content
  h1 Teacher Dashboard
  p Welcome to Parallel! Your teacher code is "#[strong #{user.code}]". What to do next:
  ul
    li Ask your students to create an account, entering your Teacher Code when prompted.
    li Your students will then be automatically added to your dashboard, listed by school year.
    li Your students will receive a link to the new Parallelogram each Thursday at 3pm.
    li They should complete the Parallelogram and hit submit by 7pm on Sunday.
    li You’ll be able to see all of your students’ results below.
    li <b>NEW:</b> Click on the week number at the top of each column to sort by score.
    li <b>NEW:</b> Click on the top of the name column to sort students alphabetically.
    li <b>NEW:</b> Hover over a student name and click X to remove that student from your dashboard.

  if dashboard.error
    .error.dashboard-error= dashboard.error
  else
    for l in levels
      if dashboard.students[l].length
        h2= levelNames[l]
        .dashboard-table(data-level=l)
          .dashboard-names
            table
              thead
                tr: th(v-on:click=`sortTable(0, '${l}')`) Name
              tbody
                for s, i in dashboard.students[l]
                  tr(data-index=i): td #{s.first} #{s.last}
                    .remove-student(v-on:click=`removeStudent('${s.uid}',${i},'${l}')`) ×
          .dashboard-data
            .dashboard-data-container(style=`width: ${dashboard.pages.length * 80}px`)
              table
                thead: tr
                  for p, i in dashboard.pages[l]
                    th(width=80 v-on:click=`sortTable(${i + 1}, '${l}')`)= p.subtitle
                tbody
                  for s in dashboard.students[l]
                    tr
                      for p in dashboard.pages[l]
                        if s.answers[p.url]
                          td(width=80 data-value=(s.answers[p.url].score || 0))(class=scoreClass(s.answers[p.url].score)) #{s.answers[p.url].score || 0}%
                        else
                          td(width=80 data-value="-1")
